.sm-form-control:focus {
    border-color: #AAA;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
    background-color: rgba(245, 245, 245, 0.5);
}

.sm-form-control {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 14px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 2px solid #DDD;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-radius: 0 !important;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
}

.sm-form-control {
    height: auto;
}

:active,
:focus {
    outline: none !important;
}

body label {
    padding: 5.5px 0;
    display: inline-block;
    font-size: 0.85em;
}

form .col_full,
form .col_half,
form .col_one_third,
form .col_two_third,
form .col_three_fourth,
form .col_one_fourth,
form .col_one_fifth,
form .col_two_fifth,
form .col_three_fifth,
form .col_four_fifth,
form .col_one_sixth,
form .col_five_sixth {

    margin-bottom: 15px !important;

}

form .col_full,
form .col_half,
form .col_one_third,
form .col_two_third,
form .col_three_fourth,
form .col_one_fourth,
form .col_one_fifth,
form .col_two_fifth,
form .col_three_fifth,
form .col_four_fifth,
form .col_one_sixth,
form .col_five_sixth {

    margin-bottom: 25px;

}

.col_last {

    margin-right: 0 !important;
    clear: right;

}

.postcontent,
.sidebar,
.col_full,
.col_half,
.col_one_third,
.col_two_third,
.col_three_fourth,
.col_one_fourth,
.col_one_fifth,
.col_two_fifth,
.col_three_fifth,
.col_four_fifth,
.col_one_sixth,
.col_five_sixth {

    display: block;
    position: relative;
    margin-right: 4%;
    margin-bottom: 50px;
    float: left;

}

.col_half {

    width: 48%;

}

.col_full {

    clear: both;
    float: none;
    margin-right: 0;

}

.col_full {

    width: 100%;

}

body:not(.device-touch) .button {

    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

}

.button.button-3d {

    border-radius: 3px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.15);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;

}

.button:hover {

    background-color: #3498db;

}

.button {

    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 0 22px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    background-color: #23527c;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

}

@media (max-width: 767px) {
    .col_half {
        width: 100%;
    }

    .postcontent,
    .sidebar,
    .col_full,
    .col_half,
    .col_one_third,
    .col_two_third,
    .col_three_fourth,
    .col_one_fourth,
    .col_one_fifth,
    .col_two_fifth,
    .col_three_fifth,
    .col_four_fifth,
    .col_one_sixth,
    .col_five_sixth {
        float: none;
    }

}